<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="styles.css" rel="stylesheet">

	<title>Vjeverica</title>

</head>

<body>
	<div id="root">
	  I am inside root.
	  <%- reactOutput %>
	</div>

</body>
</html>